/site
/*.rbxl
/*.rbxlx
/*.rbxl.lock
/*.rbxlx.lock
/*.rbxm
/*.rbxmx

.yarn
*.tgz
.pnp.cjs
**/node_modules
/roblox
**/sourcemap.json

/temp
build/
test-places/
docs/releases/main

/globalTypes.d.lua

/sourcemap.json
